.acceptableFish {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQh2HT0AKkiCjYgvrcS9ejv7h3e-LjEuhYjux-jl4q354yGDn9I&usqp=CAU");
    background-color: rgba(67, 70, 206, 0.61);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5%;
    
    
}

.fish {
    background-color: rgba(32, 104, 70, 0.562);
    max-width: 10rem;
    margin: 1rem;
    border-radius: 5%;
    flex: 0 1 20%;
    justify-content: space-evenly;
}
.fish ul {
    margin-right: 1rem;
}

.acceptableFish h1 {
    flex: 1 1 100%;
    padding: 0% 50%;
    text-align: center;
    color: goldenrod;

}


.fish__picture {
    margin: 0.5rem;
    max-width: 9rem;
    min-width: 9rem;
    max-height: 9rem;
    border-radius: 5%;
}