.banner {
    background-color: rgba(255, 127, 80, 0.747);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;

}
.banner__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
}

.banner__image {
    max-width: 3rem;
    margin: 1rem;
    border-radius: 20%;
}