.banner {
    background-color: rgba(184, 135, 11, 0.774);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-content: center;

}
.banner__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
}

.banner__image {
    max-width: 3rem;
    margin: 1rem;
    border-radius: 20%;
}