.fishList {
    background-color: mediumorchid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}

.fish {
    background-color: mediumvioletred;
    max-width: 15rem;
    padding: 0.05em;
}


.fish__picture {
    max-width: 15rem;
    max-height: 15rem;
}