.locationList {
    background-color: mediumaquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.location {
    background-color: mediumseagreen;
    max-width: 15rem;
}


.location__picture {
    max-width: 15rem;
    max-height: 15rem;
}