.locationsList {
    background-color: mediumaquamarine;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5%;
    height: 100%;
}

.locations {
    background-color: rgba(29, 15, 156, 0.384);
    max-width: 10rem;
    margin: 1rem;
    border-radius: 5%;
    
}


.location__picture {
    margin: 0.5rem;
    max-width: 9rem;
    min-width: 9rem;
    max-height: 9rem;
    border-radius: 5%;
}

.location__details {
    margin: 0.5rem;
    max-width: 9rem;
    min-width: 9rem;
}