.locationList {
    background-color: mediumaquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5%;
}

.location {
    background-color: mediumseagreen;
    max-width: 11rem;
    border-radius: 5%;
    margin: 1rem;
    
}


.location__picture {
    margin: 0.5rem;
    max-width: 9rem;
    min-width: 9rem;
    max-height: 9rem;
    border-radius: 5%;
}

.location__details {
    margin: 0.5rem;
    max-width: 9rem;
    min-width: 9rem;
    max-height: 9rem;
}