@import "fish.css";
@import "locations.css";
@import "tips.css";
@import "quotes.css";
@import "banner.css";
@import "acceptableFish.css";
@import "crappie.css";


.hidden {
    display: none;
}

body {
    background-color: aqua;
    display: flex;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;

}

.underTheBanner {
    display: flex;
    height: 100%;
    flex-direction: row;
    
}

.underTheBanner__left {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex: 1 0 75%;
    
}

.underTheBanner__right {
    flex: 0 1 25%;
    height: 100%;

}